.feedback {
  padding: 32px 0 48px 0;
  @media (min-width: $pc) {
    padding: 96px 0 48px 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    max-width: 800px;
    margin: 0 auto;
    @media (min-width: $pc) {
      align-content: flex-start;
      gap: 48px 24px;
      flex-direction: row;
      max-width: 1920px;
    }
    h2 {
      color: var(--NY-Black-source);
      font-size: 64px;
      font-style: normal;
      font-weight: 600;
      line-height: 1;
      letter-spacing: -4px;
      @media (min-width: $pc) {
        font-size: 128px;
      }
    }
  }
}

.feedback__slider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  overflow: visible;
  @media (min-width: $pc) {
    width: 1076px;
    overflow: hidden;
  }
}

.feedback__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 24px;
  max-width: 100%;
  @media (min-width: $pc) {
    margin: 0;
  }
  .feedback__item-top {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
    @media (min-width: $pc) {
      gap: 32px;
    }
    .feedback__item-top-text {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 6;
      align-self: stretch;
      overflow: hidden;
      color: var(--NY-Black-source);
      text-overflow: ellipsis;
      font-size: 26px;
      font-style: normal;
      font-weight: 600;
      line-height: 1.2;
      letter-spacing: -1px;
      transition: all 0.4s;
      @media (min-width: $pc) {
        font-size: 64px;
        line-height: 1;
        letter-spacing: -4px;
      }
      &:before {
        content: "";
        background: url("../../img/Vector.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 48px;
        height: 48px;
        display: flex;
      }
      &:after {
        content: "";
        background: url("../../img/Vector.svg");
        background-repeat: no-repeat;
        background-size: contain;
        transform: rotate(180deg);
        width: 48px;
        height: 48px;
        display: flex;
        margin-left: auto;
      }
    }
    button {
      ._icon-add-line {
        transition: all 0.4s;
      }
      @media (min-width: $pc) {
        margin-right: auto;
        margin-left: 0;
      }
    }
    button.active {
      ._icon-add-line {
        transition: all 0.4s;
        transform: rotate(45deg);
      }
    }
  }
}

.feedback__item-top-text.expanded {
  -webkit-line-clamp: unset;
  transition: all 0.4s;
}

.feedback__item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  row-gap: 16px;
  flex-wrap: wrap;
  @media (min-width: $pc) {
    width: 100%;
  }
  .feedback__item-content-left {
    display: flex;
    min-width: 256px;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    div {
      display: flex;
      width: 48px;
      height: 48px;
      justify-content: center;
      align-items: center;
      border-radius: 74.25px;
    }
    p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      flex: 1 0 0;
      overflow: hidden;
      color: var(--NY-Black-source);
      text-overflow: ellipsis;
      font-size: 26px;
      font-style: normal;
      font-weight: 600;
      line-height: 1.2;
      letter-spacing: -1px;
    }
  }
  .feedback__item-content-right {
    display: flex;
    min-width: 256px;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    gap: 4px 24px;
    flex: 1 0 0;
    flex-wrap: wrap;
    @media (min-width: $pc) {
      flex-direction: column;
    }
    > p {
      min-width: 256px;
      flex: 1 0 0;
      color: var(--NY-Black-900);
      text-align: right;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.4;
      @media (min-width: $pc) {
        min-width: 100%;
      }
    }
    .feedback__item-content-right-link {
      display: flex;
      min-width: 256px;
      justify-content: flex-end;
      align-items: center;
      align-content: center;
      flex-direction: row;
      gap: 0px 8px;
      flex: 1 0 0;
      flex-wrap: wrap;
      @media (min-width: $pc) {
        margin-left: auto;
      }
      p {
        color: var(--NY-Black-900);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.4;
      }
      a {
        display: flex;
        align-items: center;
        gap: 8px;
        color: var(--NY-Terra-source);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.4;

      }
    }
  }
}

.feedback__navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-top: 24px;
  button {
    position: static;
    height: auto;
    margin: 0;
    @media (min-width: $pc) {
      &:nth-of-type(1) {
        margin-right: 24px;
      }
    }
  }
  .swiper-pagination {
    position: static;
    margin-left: 16px;
    @media (min-width: $pc) {
      margin-left: 30px;
    }
  }
}