.hero {
  // .hero--contact
  &--contact {
    min-height: 312px;
    @media (min-width: $pc) {
      min-height: 374px;
      height: auto;
      max-height: none;
    }
    .hero__title-sm, .breadcrumbs {
      color: var(--NY-Blue-50);
    }
    .hero__text-holder {
      color: var(--NY-Blue-200);
    }
    .hero__title-md {
      text-align: left;
    }
  }
  // .hero--global
  &--global {
  }
  // .hero__container
  &__container {
  }
  // .hero__content
  &__content {
  }
  // .hero__text-box
  &__text-box {
  }
  // .hero__title-sm
  &__title-sm {
  }
  // .hero__text-holder
  &__text-holder {
  }
  // .hero__bg-contact-holder
  &__bg-contact-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0 0 48px 0;
    }
    @media (min-width: $pc) {
      img {
        border-radius: 0 0 128px 0;
      }
    }
  }
}