.hero {
  // .hero--faq
  &--faq {
    min-height: 380px;
    @media (min-width: $pc) {
      min-height: 468px;
      height: auto;
      max-height: 100%;
    }
    .hero__title-sm, .breadcrumbs {
      color: var(--NY-Blue-50);
    }
    .hero__text-holder {
      color: var(--NY-Blue-200);
    }
  }
  // .hero--global
  &--global {
  }
  // .hero__container
  &__container {
  }
  // .hero__content
  &__content {
  }
  // .hero__text-box
  &__text-box {
  }
  // .hero__title-sm
  &__title-sm {
  }
  // .hero__text-holder
  &__text-holder {
  }
  // .hero__bg-faq-holder
  &__bg-faq-holder {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(360deg, #000D10 16.33%, rgba(0, 13, 16, 0.25) 119.46%);
      border-radius: 0 0 48px 0;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0 0 48px 0;
    }
    @media (min-width: $pc) {
      &::before {
        border-radius: 0 0 128px 0;
      }
      img {
        border-radius: 0 0 128px 0;
      }
    }
    &--desk {
      display: none;
      @media (min-width: $pc) {
        display: block;
      }
    }
    &--mob {
      @media (min-width: $pc) {
        display: none;
      }
    }
  }
}
