.hero {
  // .hero--catalog
  &--catalog {
    min-height: 248px;
    @media (min-width: $pc) {
      min-height: 310px;
    }
    max-height: none;
    height: auto;
    background: var(--NY-Blue-source);
    color: var(--NY-Blue-50);
    &.hero--global {
      .hero__content {
        padding: 0 0 64px;
      }
    }
  }
  // .hero--global
  &--global {
  }
  // .hero__container
  &__container {
  }
  // .hero__content
  &__content {
  }
}
