.hero {
  // .hero--services
  &--services {
    min-height: 432px;
    @media (min-width: $pc) {
      min-height: 562px;
      max-height: none;
      height: auto;
    }
    .hero__title-sm, .breadcrumbs {
      color: var(--NY-Blue-50);
    }
    .hero__text-holder {
      color: var(--NY-Blue-200);
    }
    .hero__icon-holder {
      color: var(--White-100);
    }
    .hero__content {
      padding: 0 0 64px;
    }
  }
  // .hero--global
  &--global {
  }
  // .hero__container
  &__container {
  }
  // .hero__content
  &__content {
  }
  // .hero__bg-services-holder
  &__bg-services-holder {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(360deg, #000D10 16.33%, rgba(0, 13, 16, 0.25) 119.46%);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &--desk {
      display: none;
      @media (min-width: $pc) {
        display: block;
      }
    }
    &--mob {
      @media (min-width: $pc) {
        display: none;
      }
    }
  }
}
