.hero {
  // .hero--catalog-article
  &--catalog-article {
    min-height: auto;
    .hero__title-sm, .breadcrumbs {
      color: var(--NY-Blue-50);
    }
    .hero__text-holder {
      color: var(--NY-Blue-200);
    }
    .btn {
      padding: 10px 20px;
      font-size: 16px;
      span {
        display: flex;
        &::after {
          font-size: 24px;
        }
      }
      @media (min-width: $pc) {
        padding: 16px 20px;
      }
    }
  }
  // .hero--global
  &--global {
  }
  // .hero__container
  &__container {
  }
  // .hero__content
  &__content {
  }
  // .hero__text-box
  &__text-box {
  }
  // .hero__title-sm
  &__title-sm {
  }
  // .hero__text-holder
  &__text-holder {
  }
  // .hero__date
  &__date {
  }
  // .hero__bg-catalog-article-holder
  &__bg-catalog-article-holder {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, #000D10 12.39%, rgba(0, 13, 16, 0.25) 100%);
      border-radius: 0 0 48px 0;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      border-radius: 0 0 48px 0;
    }
    @media (min-width: $pc) {
      &::before {
        border-radius: 0 0 128px 0;
      }
      img {
        border-radius: 0 0 128px 0;
      }
    }
    &--desk {
      display: none;
      @media (min-width: $pc) {
        display: block;
      }
    }
    &--mob {
      @media (min-width: $pc) {
        display: none;
      }
    }
  }
}
