.map {
  // .map__container
  &__container {
    display: flex;
    flex-direction: column;
    &.container {
      padding: 0;
      margin: 0;
      max-width: 100%;
    }
  }
  // .map__title
  &__title {
    color: var(--NY-Black-source);
    font-size: 26px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
    padding: 32px 0;
    @media (min-width: $pc) {
      font-size: 64px;
      line-height: 1;
      letter-spacing: -4px;
      width: 100%;
      max-width: 1076px;
      margin-left: auto;
    }
  }
  .map-holder {
    display: flex;
    iframe {
      width: 100%;
      min-height: 576px;
      max-height: 576px;
    }
  }
}

