.title {
  color: var(--NY-Black-source);
  font-weight: 600;
  line-height: 1;
  letter-spacing: -4px;
  span {
    color: var(--NY-Terra-source);
  }
  &--big {
    font-size: 64px;
    @media (min-width: $pc) {
      font-size: 200px;
    }
  }
  &--medium {
    font-size: 64px;
    @media (min-width: $pc) {
      font-size: 128px;
    }
  }
  &--small {
    font-size: 64px;
  }
  &--less {
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: -1px;
    @media (min-width: $pc) {
      font-size: 64px;
      line-height: 1;
      letter-spacing: -4px;
    }
  }
}
.social {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  @media (min-width: $pc) {
    row-gap: 32px;
  }
  // .social__phone
  &__phone {
    color: var(--NY-Terra-source);
    font-size: 26px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
    position: relative;
    transition: all 0.4s;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background: var(--NY-Terra-source);
      transition: all 0.4s;
    }
    &:hover {
      &::after {
        width: 100%;
      }
    }
    &:active {
      color: var(--NY-Black-source);
      &::after {
        background: var(--NY-Black-source);
      }
    }
    &.blocked {
      color: var(--NY-Black-100);
      pointer-events: none;
      &::after {
        background: var(--NY-Black-100);
      }
    }
    @media (min-width: $pc) {
      font-size: 64px;
      line-height: 1;
      letter-spacing: -4px;
      padding-bottom: 8px;
    }
  }
  // .social__title
  &__title {
    color: var(--NY-Black-source);
    font-size: 28px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
    @media (min-width: $pc) {
      font-size: 64px;
      line-height: 1;
      letter-spacing: -4px;
    }
  }
  // .social__item
  &__item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 56px;
    padding-bottom: 8px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background: var(--NY-Terra-source);
      transition: all 0.4s;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:hover {
      &::after {
        width: 100%;
      }
    }
    &:active {
      &::after {
        background: var(--NY-Black-source);
      }
    }
    &.blocked {
      pointer-events: none;
      &::after {
        background: var(--NY-Black-100);
      }
    }
  }
  // .social__items
  &__items {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    @media (min-width: $pc) {
      align-items: center;
      flex-direction: row;
      gap: 24px;
    }
  }
  // .social__messengers
  &__messengers {
    display: flex;
    column-gap: 12px;
  }
}
.form {
  // .form__inner
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 39px;
  }
  // .form__radio-holder
  &__radio-holder {
    display: flex;
  }
  // .form__input-holder
  &__input-holder {
    position: relative;
    padding-right: 40px;
    &::before {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--NY-Black-200);
      transition: all 0.4s;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 32px;
      height: 32px;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &:hover {
      &::before {
        background-color: var(--NY-Black-source);
      }
    }
    // .form__input-holder--name
    &--name {
      &::after {
        background-image: url("../img/icon-user.svg");
      }
      &.blocked {
        &::after {
          background-image: url("../img/icon-user-blocked.svg");
        }
      }
    }
    // .form__input-holder--phone
    &--phone {
      &::after {
        background-image: url("../img/icon-phone.svg");
      }
      &.blocked {
        &::after {
          background-image: url("../img/icon-phone-blocked.svg");
        }
      }
    }
    &.blocked {
      label {
        color: var(--NY-Black-200);
        pointer-events: none;
      }
      &::after {
      }
      &:hover {
        &::before {
          background-color: var(--NY-Black-200);
        }
      }
    }
  }
  // .form__input
  &__input {
    font-size: $fontSize;
    width: 100%;
    color: var(--NY-Black-200);
    letter-spacing: -0.4px;
    @media (min-width: $pc) {
      font-size: 26px;
      font-weight: 600;
      line-height: 1.2;
      letter-spacing: -1px;
    }
    &::placeholder {
      color: var(--NY-Black-200);
      letter-spacing: -0.4px;
    }
    &:focus {
      outline: none;
    }
  }
  label {
    color: var(--NY-Black-source);
    font-size: 26px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
  }
  .btn {
    margin-top: 8px;
    align-self: flex-end;
    &::after {
      font-size: 18px;
    }
    @media (min-width: $pc) {
      margin-top: 24px;
      &::after {
        font-size: 24px;
      }
    }
  }
}
.link {
  transition: all 0.4s;
  &::after, &::before {
    transition: all 0.4s;
  }
  &:hover {
    color: var(--NY-Terra-source);
    &::after, &::before {
      color: var(--NY-Terra-source);
    }
  }
  &:active {
    color: var(--NY-Terra-300);
    &::after, &::before {
      color: var(--NY-Terra-300);
    }
  }
  &.blocked {
    pointer-events: none;
    color: var(--NY-Black-100);
    &::after, &::before {
      color: var(--NY-Black-100);
    }
  }
}
.breadcrumbs {
  font-family: $fontFamily;
  font-size: 16px;
  line-height: 1.4;
  // .breadcrumbs__container
  &__container {
    & > span {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 8px;
    }
  }
  .brDevider {
    display: flex;
    align-items: center;
  }
  .breadcrumb_last {
  }
}
.cloth {
  padding: 96px 0;
  @media (min-width: $pc) {
    padding: 160px 0;
  }
  h2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    align-self: stretch;
    overflow: hidden;
    color: var(--NY-Black-source);
    text-overflow: ellipsis;
    font-size: 64px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -4px;
    overflow-wrap: anywhere;
  }
  h3 {
    color: var(--NY-Black-source);
    font-size: 26px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    align-self: stretch;
    overflow: hidden;
    text-overflow: ellipsis;
    span {
      color: var(--NY-Terra-source);
    }
  }
  // .cloth--privacy
  &--privacy {
  }
  &--service {
    padding: 80px 0 0;
    @media (min-width: $pc) {
      padding: 128px 0 0;
    }
    h3 {
      @media (min-width: $pc) {
        font-size: 64px;
        line-height: 1;
        letter-spacing: -4px;
      }
    }
    .cloth__text-holder {
      color: var(--NY-Black-source);
      font-size: 26px;
      line-height: 1.2;
      letter-spacing: -1px;
    }
    .cloth__content {
      &::before {
        bottom: -32px;
        top: unset;
      }
    }
    .cloth__right-col {
      @media (min-width: $pc) {
        row-gap: 64px;
      }
    }
    .popular-obj {
      @media (min-width: $pc) {
        padding: 80px 0 0;
      }
    }
    .popular-obj__container {
      padding: 0;
    }
    .popular-obj-card {
      padding: 24px 0;
      &::before, &::after {
        background-color: var(--NY-Black-source);
      }
      &::before {
        top: 0;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
      }
      @media (min-width: $pc) {
        &::before, &::after {
          background-color: var(--NY-Black-200);
          transition: all 0.4s;
        }
        &:hover {
          &::before, &::after {
            background-color: var(--NY-Black-source);
          }
        }
      }
    }
    .popular-obj-card__link {
      z-index: 10;
    }
    .popular-obj-card__btn, .pushpin {
      @media (min-width: $pc) {
        display: none;
      }
    }
    .popular-obj-card__image-holder {
      height: 276px;
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
  // .cloth--services
  &--services {
    padding: 32px 0;
    @media (min-width: $pc) {
      padding: 96px 0;
    }
    .cloth__container {
      @media (min-width: $pc) {
        row-gap: 192px;
      }
    }
    .cloth__content {
      &::before {
        display: none;
      }
      @media (min-width: $pc) {
        column-gap: 124px;
        flex-wrap: nowrap;
      }
    }
    .cloth__left-col {
      @media (min-width: $pc) {
        max-width: 476px;
        min-width: auto;
      }
    }
    .cloth__right-col {
      max-width: 100%;
      @media (min-width: $pc) {
        min-width: auto;
      }
    }
  }
  // .cloth--article
  &--article {
    padding: 80px 0;
    @media (min-width: $pc) {
      padding: 128px 0 80px;
    }
  }
  // .cloth--catalog-article
  &--catalog-article {
    padding: 80px 0;
    @media (min-width: $pc) {
      padding: 128px 0 96px;
    }
    .popular-obj-card__image-holder {
      &:not(:last-child) {
        margin-bottom: 0;
      }
      @media (min-width: $pc) {
        height: 324px;
      }
    }
    .popular-obj-card__btn {
      @media (min-width: $pc) {
        display: none;
      }
    }
    .popular-obj-card__link {
      z-index: 10;
      @media (min-width: $pc) {
        z-index: 4;
      }
    }
    .popular-obj {
      @media (min-width: $pc) {
        padding-top: 120px;
      }
    }
    .cloth__content {
      row-gap: 58px;
    }
    .cloth__left-col {
      display: flex;
      flex-direction: column;
      row-gap: 12px;
      .btn {
        margin-top: 12px;
      }
      @media (min-width: $pc) {
        row-gap: 24px;
        .btn {
          margin-top: 8px;
        }
      }
    }
    .cloth__right-col {
      row-gap: 32px;
      @media (min-width: $pc) {
        overflow: hidden;
        max-width: 100%;
      }
    }
    .map {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 32px;
      iframe {
        width: 100%;
        height: 376px;
      }
      @media (min-width: $pc) {
        iframe {
          height: 576px;
        }
      }
    }
    .badge {
      display: flex;
      flex-wrap: wrap;
      column-gap: 4px;
      row-gap: 8px;
      &__link {
        padding: 8px 12px;
      }
    }
  }
  // .cloth--catalog
  &--catalog {
    padding: 32px 0;
    @media (min-width: $pc) {
      padding: 64px 0;
    }
    .cloth__container {
      row-gap: 32px;
      @media (min-width: $pc) {
        row-gap: 0;
      }
    }
    .cloth__content {
      &::before {
        display: none;
      }
    }
    .btn {
      &--filter {
        margin-left: auto;
        @media (min-width: $pc) {
          display: none;
        }
      }
    }
    .cloth__right-col {
      @media (min-width: $pc) {
        row-gap: 64px;
        min-width: 700px;
        margin-left: 0;
        max-width: 100%;
      }
    }
    .cloth__left-col {
      @media (min-width: $pc) {
        max-width: 476px;
        min-width: auto;
      }
    }
    h3 {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 6;
      align-self: stretch;
      overflow: hidden;
      font-size: 64px;
      font-weight: 600;
      line-height: 1;
      letter-spacing: -4px;
    }
    .cloth__content {
      @media (min-width: $pc) {
        column-gap: 124px;
      }
    }
  }
  // .cloth__container
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 64px;
  }
  // .cloth__popular-obj-box
  &__popular-obj-box {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    @media (min-width: $pc) {
      gap: 48px;
    }
    .popular-obj-card {
      min-width: 256px;
      flex: 1 0 0;
      @media (min-width: $pc) {
        min-width: 376px;
      }
    }
    .popular-obj-card__image-holder {
      height: 276px;
      @media (min-width: $pc) {
        height: 376px;
      }
    }
  }
  // .cloth__image-holder
  &__image-holder {
    height: 376px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (min-width: $pc) {
      height: 576px;
    }
  }
  // .cloth__content
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: -32px;
      left: 0;
      width: 100%;
      height: 1px;
      background: var(--NY-Black-200);
    }
    @media (min-width: $pc) {
      flex-wrap: wrap;
      flex-direction: row;
      column-gap: 24px;
    }
  }
  // .cloth__left-col
  &__left-col {
    @media (min-width: $pc) {
      flex: 1 0 0;
      max-width: 676px;
      min-width: 676px;
    }
    h3 {
      @media (min-width: $pc) {
        font-size: 64px;
        line-height: 1;
        letter-spacing: -4px;
      }
    }
  }
  // .cloth__right-col
  &__right-col {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    @media (min-width: $pc) {
      flex: 1 0 0;
      min-width: 876px;
      max-width: 1076px;
      margin-left: auto;
    }
  }
  // .cloth__text-box
  &__text-box {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
  // .cloth__text-holder
  &__text-holder {
    font-size: 16px;
    line-height: 1.4;
    @media (min-width: $pc) {
      font-size: $fontSize;
      line-height: 1.3;
      letter-spacing: -0.4px;
    }
    p {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      @media (min-width: $pc) {
        &:not(:last-child) {
          margin-bottom: 26px;
        }
      }
    }
    ul, ol {
      padding-left: 25px;
      margin: 0;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      li {
        @media (min-width: $pc) {
          &:not(:last-child) {
            margin-bottom: 26px;
          }
        }
      }
    }
    ul {
      li {
        list-style-type: disc;
      }
    }
    &--bold {
      font-weight: 600;
    }
  }
}
.filter {
  &-box {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    &:not(:last-child) {
      margin-bottom: 32px;
    }
    @media (min-width: $pc) {
      row-gap: 32px;
      &:not(:last-child) {
        margin-bottom: 64px;
      }
    }
    &--district {
      .facetwp-checkbox {
        &:nth-child(1) {
          position: relative;
          display: flex;
          align-items: center;
          column-gap: 8px;
          border: 1px solid var(--NY-Black-50);
          background: var(--NY-Blue-source);
          color: var(--NY-Black-50);
          .facetwp-display-value {
            display: flex;
            align-items: center;
            column-gap: 8px;
          }
          &:hover {
            color: var(--NY-Blue-200);
            border-radius: 999px;
            border: 1px solid var(--NY-Blue-200);
          }
          &:active {
            color: var(--NY-Blue-500);
          }
          &::before {
            content: "";
            display: block;
            background-image: url("../img/icon-plus.svg");
            background-repeat: no-repeat;
            background-size: cover;
            width: 20px;
            height: 20px;
            @media (min-width: $pc) {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
    &--desktop-none {
      @media (min-width: $pc) {
        display: none;
      }
    }
    &--mobile-none {
      display: none;
      @media (min-width: $pc) {
        display: flex;
      }
    }
  }
  .facetwp-facet {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 8px;
    @media (min-width: $pc) {
      row-gap: 16px;
    }
  }
  .facetwp-radio, .facetwp-checkbox {
    cursor: pointer;
    padding: 5px 16px;
    border-radius: 999px;
    border: 1px solid var(--NY-Black-source);
    transition: all 0.4s;
    @media (min-width: $pc) {
      padding: 7px 16px;
      &:hover {
        border: 1px solid var(--NY-Blue-200);
        color: var(--NY-Blue-200);
      }
    }
    &:active {
      border: 1px solid var(--NY-Blue-500);
      color: var(--NY-Blue-500);
    }
    &--disabled {
      color: var(--NY-Blue-500);
      pointer-events: none;
      border-color: var(--NY-Blue-500);
    }
  }
  .facetwp-display-value {
    font-family: $fontFamily;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    @media (min-width: $pc) {
      font-size: $fontSize;
      line-height: 1.3;
      letter-spacing: -0.4px;
    }
  }
  .facetwp-counter {
    display: none;
  }
}
.quote {
  padding: 32px 16px;
  background: var(--NY-Black-50);
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  @media (min-width: $pc) {
    padding: 64px;
  }
  // .quote__icon-holder
  &__icon-holder {
    width: 100%;
    max-width: 48px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (min-width: $pc) {
      max-width: 64px;
    }
  }
  h3 {
    color: var(--NY-Black-source);
    font-size: 26px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
    @media (min-width: $pc) {
      font-size: 64px;
      line-height: 1;
      letter-spacing: -4px;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
  // .quote__text-holder
  &__text-holder {
    color: var(--NY-Black-source);
    font-size: 16px;
    line-height: 1.4;
    @media (min-width: $pc) {
      font-size: $fontSize;
      line-height: 1.3;
      letter-spacing: -0.4px;
    }
  }
}
.two-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 32px;
  // .two-column__left-col
  &__left-col {
    flex: 1 0 0;
    min-width: 256px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    @media (min-width: $pc) {
      row-gap: 24px;
    }
  }
  // .two-column__icon-holder
  &__icon-holder {
    width: 32px;
    height: 32px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (min-width: $pc) {
      width: 48px;
      height: 48px;
    }
  }
  // .two-column__right-col
  &__right-col {
    flex: 1 0 0;
    min-width: 256px;
  }
  // .two-column__image-holder
  &__image-holder {
    width: 100%;
    height: 247px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (min-width: $pc) {
      height: 345px;
    }
  }
}
.wp-pagenavi {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .previouspostslink {
  }
  .nextpostslink {
    margin-right: 16px;
  }
  .previouspostslink, .nextpostslink {
    display: inline-block;
    width: 32px;
    height: 32px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (min-width: $pc) {
      width: 64px;
      height: 64px;
    }
  }
  .page, .brDevider {
    color: var(--NY-Black-source);
    font-size: 28px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
    @media (min-width: $pc) {
      font-size: 64px;
      line-height: 1;
      letter-spacing: -4px;
    }
  }
  .smaller {
  }
  .larger {
  }
}
.tooltip {
  position: relative;
  .tooltiptext {
    font-size: 16px;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    background-color: black;
    color: #FFFFFF;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
    transition: visibility 0.4s, opacity 0.4s;
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: black transparent transparent transparent;
    }
  }
  @media (min-width: $pc) {
    &:hover {
      .tooltiptext {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
.badge {
  position: relative;
  z-index: 5;
  // .badge__link
  &__link {
    font-size: 16px;
    line-height: 1.4;
    padding: 7px 11px;
    border-radius: 999px;
    border: 1px solid var(--NY-Black-source);
    transition: all 0.4s;
    &:hover {
      color: var(--NY-Blue-200);
      border-color: var(--NY-Blue-200);
    }
    &:active {
      color: var(--NY-Blue-500);
      border-color: var(--NY-Blue-500);
    }
    @media (min-width: $pc) {
      font-size: $fontSize;
      line-height: 1.3;
      letter-spacing: -0.4px;
      padding: 7px 15px;
    }
    &--disabled {
      cursor: default;
      color: var(--NY-Blue-200);
      border: 1px solid var(--NY-Blue-200);
    }
  }
}
.listing-products {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  @media (min-width: $pc) {
    gap: 96px;
  }
}
.listing-product {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 24px 0;
  position: relative;
  flex: 1 0 0;
  min-width: 256px;
  @media (min-width: $pc) {
    min-width: 376px;
    flex-direction: row;
    column-gap: 24px;
    &:hover {
      h4 {
        color: var(--NY-Terra-source);
      }
    }
  }
  @media (min-width: 1592px) {
    max-width: 564px;
  }
  &::after, &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--NY-Black-source);
  }
  &::after {
    bottom: 0;
  }
  &::before {
    top: 0;
  }
  // .listing-product__left-col
  &__left-col {
    @media (min-width: $pc) {
      flex: 1 0 0;
    }
  }
  // .listing-product__image-holder
  &__image-holder {
    width: 100%;
    height: 276px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0 0 32px 0;
    }
    @media (min-width: $pc) {
      height: 221px;
      img {
        border-radius: 0 0 64px 0;
      }
    }
  }
  // .listing-product__right-col
  &__right-col {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    @media (min-width: $pc) {
      flex: 1 0 0;
    }
  }
  // .listing-product__btn
  &__btn {
    display: none;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 2px solid var(--NY-Black-source);
    cursor: pointer;
    transition: background 0.4s;
    &::after {
      font-size: 24px;
      transition: color 0.4s;
    }
    @media (min-width: $pc) {
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background: var(--NY-Black-source);
        &::after {
          color: var(--NY-Blue-50);
        }
      }
      &:active {
        background: var(--NY-Black-900);
      }
      &.blocked {
        background: var(--NY-Black-100);
        pointer-events: none;
      }
    }
  }
  h4 {
    color: var(--NY-Terra-source);
    font-size: 26px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
    flex: 1 0 0;
    transition: color 0.4s;
    @media (min-width: $pc) {
      color: var(--NY-Black-source);
    }
  }
}
.main-text {
  @media (min-width: $pc) {
    padding: 0 72px;
  }
  h3 {
    color: var(--NY-Black-source);
    font-size: 26px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
    @media (min-width: $pc) {
      font-size: 64px;
      line-height: 1;
      letter-spacing: -4px;
    }
  }
  // .main-text__container
  &__container {
    padding: 48px 16px;
    position: relative;
    @media (min-width: $pc) {
      padding: 48px;
    }
  }
  // .main-text__content
  &__content {
    position: relative;
    z-index: 5;
    padding: 32px 16px;
    background: var(--NY-Black-50);
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    @media (min-width: $pc) {
      width: 100%;
      max-width: 980px;
      margin-left: auto;
      padding: 64px;
      row-gap: 24px;
    }
  }
  // .main-text__text-holder
  &__text-holder {
    color: var(--NY-Black-source);
    font-size: 16px;
    line-height: 1.4;
    @media (min-width: $pc) {
      font-size: 26px;
      line-height: 1.2;
      letter-spacing: -1px;
      font-weight: 600;
    }
    span {
      color: var(--NY-Terra-source);
    }
    p {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
  // .main-text__image-holder
  &__image-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    // .main-text__image-holder--desk
    &--desk {
      display: none;
      @media (min-width: $pc) {
        display: block;
      }
    }
    // .main-text__image-holder--mob
    &--mob {
      @media (min-width: $pc) {
        display: none;
      }
    }
  }
}
